*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
/* Estilos para o conteúdo */
#content {
    font-size: 16px; /* Tamanho de fonte padrão */
    
  }

/* Estilos para os botões */
.btn {
    display: inline-block;
    position:initial;
    padding: 5px 10px;
    margin: 5px;
    background-color: #ffffff;
    color: #000000;
    text-decoration:solid;
    cursor: pointer;
    width: 40px;
    border:0;
    border-radius: 0.5em;
    font-size: larger;
    font-weight: bold;
  }

header{
    height: 90 px;
    background-color: #028090;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
  }

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around   ;
    align-items: center;
    margin: 20px;
    width: 40%;
}

#controls{
    position:static ;
    padding: 20px;
    color: #FFFFFF;
    background-color: #028090;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100px;
    border-radius: 1em;
    margin-top: 150px;
}

#main{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#matricula{
    background-color: #FFFFFF;
    padding:25px;
    font-weight: bold;
    font-size: 15px;
    display:flex;
    align-items: center;
    border:0em;
    border-radius: 0.5em;
    height: 40px;
    cursor: pointer;
}

#intro{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-right: 12%;
    margin-top: 5%;

}

#faixa{
    color:#012938;
    font: weight 7px;
    background-color: #00A896;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.destaques{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    height: 110px;
}

#propaganda{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    margin-right:10%;
}

#text1 {
    font-size: 20px;
    width: 40%;
    margin:5%;
}

footer{
    background-color: #028090;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height:200px;
    padding: 2%;
}

#social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 15%;
}
#footer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#creditos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
